@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	background: $color-white;
	font-size: 16px;
}

a, a:hover, a:focus {
	box-shadow: none;
	outline: none;
	text-decoration: none;
	cursor: pointer;
	@include transition(.2s all ease-out);
}

div, p, h1, h2, h3, h4, h5, blockquote, span, img, video {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

input,
select,
textarea {
	@include transition(.2s all ease-out);
}

input:focus,
select:focus,
textarea:focus {
	box-shadow: none !important;
	outline: none !important;
}

#return-to-top {
	position: fixed;
	bottom: 90px;
	right: 15px;
	background: $color-main;
	width: 45px;
	height: 45px;
	color: #fff;
	text-align: center;
	line-height: 45px;
	font-size: 1.4rem;
	z-index: 9999;
	text-decoration: none;
	border-radius: 100%;
	display: none;
	@include transition(all 0.3s ease);
	
	&:hover {
		line-height: 30px;
		background: lighten($color-main, 10%);
	}
}

#modalContact {
	z-index: 9999999;
	.modal-header {
		position: relative;
		padding-top: 25%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		
		&::before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: rgba(39, 6, 6, 0.39);
		}
		
		h5 {
			margin-bottom: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			font-size: 2em;
			color: #fff;
			font-weight: bold;
		}
	}
	
	.modal-body {
		.form-group {
			height: 44px;
			line-height: 44px;
			overflow: hidden;
			position: relative;
			margin-bottom: 1rem;
			
			> label {
				position: absolute;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				left: 15px;
				font-size: 1em;
				color: #666;
				z-index: 2;
			}
			
			> .form-control {
				position: absolute;
				height: 100%;
				top: 0;
				left: 0;
				padding-left: 40px;
				border-radius: 0.25rem;
				border-color: #c1c1c1;
				background: #f9f9f9;
				outline: none !important;
				box-shadow: none !important;
				-webkit-transition: 0.3s all ease;
				-o-transition: 0.3s all ease;
				transition: 0.3s all ease;
			}
		}
	}
	
	.modal-footer > a {
		color: #5d5d5d;
		font-size: 0.9em;
	}
}

.modal-backdrop {
	z-index: 999999;
}